{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 mt-3 offset-md-4 white-text">
<h1 class="">{% trans "Sign Up" %}</h1>

<p class="white-text">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign in</a>.{% endblocktrans %}</p>

<form class="signup white-text" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
{% endblock content %}
